{% load static %}
<html>
    <head>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
        <!-- <link rel="stylesheet" href="/blog/static/css/blog.css"> -->
        <title>Callum's blog</title>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Callum's Blog</a></h1>
            <h1 id="cv_link"><a href="cv">CV</a></h1>
        </div>

        <div class="aims">
            <h2>Aims:</h2>
            <ul><li>Professional looking</li><li>CV will be avaliable through the blog</li><li>To show my work through the first year of my uni</li></ul>
            <h2><centre>~~~ (In progress) ~~~</centre></h2>
        </div>


        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>

        <div class="created class">
          <p>created: 26.05.2020, 20:00</p>
        </div>

    </body>
</html>
