{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/cv.css' %}">
        <!-- <link rel="stylesheet" href="/blog/static/css/cv.css"> -->
        <title>Callum's CV</title>
    </head>
    <body>
        <div class="personal_details">
            <h1>Christopher Callum Nailer</h1>
            <h2 id="blog_link"><a href="/">Back to blog</a></h2>
            <h3 id="pref_name">Preferred name: Callum</h3>
        </div>

        <div class="work_experiance">
            <h2>Work Experiance</h2>
            <div class="job">
              <h4>September 2018 - March 2020</h4>
              <h3>Care Co-ordinator, Provide</h3>
              <p>Worked at provide full time for three months from Sep – Dec 2018 and have been part time ever since. Provide is an NHS healthcare provider for mid-Essex, here I am responsible for processing referrals from GP’s and Doctors for patients. This means logging the referral on the patients record and sending it off to the correct service e.g. physiotherapy.</p>

            </div>
            <div class="job">

            </div>
            <div class="job">

            </div>
            <div class="job">

            </div>
        </div>

        <div class="education">
          <div class="school">

          </div>
          <div class="school">

          </div>
        </div>

        <div class="skills">

        </div>

    </body>
</html>
