{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/cv.css' %}">
        <!-- <link rel="stylesheet" href="/blog/static/css/cv.css"> -->
        <title>Callum's CV</title>
    </head>
    <body>
        <div class="personal_details">
            <h1>Christopher Callum Nailer</h1>
            <img id="portrait" src="https://lh3.googleusercontent.com/pw/ACtC-3fpO7TiCmZg3cAeZ893FahXjx_qAwRHm7jXhYs7OEXQpWHk3bt56vr2lP7YJHA03A5iU21RaYNFXXDyPdoema4NWG9cZP5VScM56DBdR8hl8uN2O9oURt0fnh_iZPhpANu6y7_6LkzGtpRDwZ-uGie2=w653-h869-no?authuser=0.jpg" alt="Potrait of myself" width=8%>
            <h2 id="blog_link"><a href="/">Back to blog</a></h2>
            <h5 id="pref_name">Preferred name: Callum</h5>
            <h5 id="contact_details"> 1 Gloucester Avenue, Colchester, Essex, CO2 9AX · +447413121492 · nailercallum@gmail.com · DOB 01/06/00</h5>

        </div>

        <div class="work_experiance">
            <h2>Work Experiance</h2>
            <div class="job">
              <h4>September 2018 - March 2020</h4>
              <h3>Care Co-ordinator, Provide</h3>
              <p>Worked at provide full time for three months from Sep – Dec 2018 and have been part time ever since. Provide is an NHS healthcare provider for mid-Essex, here I am responsible for processing referrals from GP’s and Doctors for patients. This means logging the referral on the patients record and sending it off to the correct service e.g. physiotherapy.</p>

            </div>
            <div class="job">
              <h4>December 2018- April 2019</h4>
              <h3>Clubhouse Staff, Equity</h3>
              <p>Worked in a Ski hotel in France where we would take big groups of school children and accommodate them for a week, providing them with food and drink, skis and entertainment. My responsibilities included: serving food and drink, working on the bar, kitchen porter, cleaning rooms and night porter, in which I would do a general clean of the hotel overnight to ensure it was ready for the morning staff to come in.</p>

            </div>
            <div class="job">
              <h4>April 2017 - November 2018</h4>
              <h3>Front of House staff, The Green Room Restraunt</h3>
              <p>While working here my main responsibilities included but were not limited to: welcoming customers, taking food and drink orders and serving accordingly, dealing with larger parties ranging from 8 – 50 people, working on the bar and occasionally doing kitchen porter duties i.e. washing dishes.</p>

            </div>
            <div class="job">

            </div>
        </div>

        <div class="education">
          <div class="school">

          </div>
          <div class="school">

          </div>
        </div>

        <div class="skills">

        </div>

    </body>
</html>
