{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/cv.css' %}">
        <!-- <link rel="stylesheet" href="/blog/static/css/cv.css"> -->
        <title>Callum's CV</title>
    </head>
    <body>
      <div class="personal_info">
        <div class="personal_details">
          <!--<img id="portrait" src="https://lh3.googleusercontent.com/Usby_Qy6o2FWD0HoWFY-fGr2Nc1wlXL2UI6dVJ-jNVwGmmGHMGSuhO5ZvJuLda_olsVxWPmNs7ItcxJt4VXVqzEadaw35_mqw2H7hL-tsPgpjLN43ThrqMdiw38bqSmbUN58YP0t9NsYXLwMmC5n-_Sw4zilnQNrlHwe9_pUoljr1gRdIndKQbR4-XajsaYLOUThCp4C0B58AW3vLo0BkNjhUPn0_U9XOecZJ9yLN-EobiRP1jWsPh5n9ihJGgOvJ2zsmYtMhKZP5x3mBI3exnBM-G4-xOY11WgdUuNf1S5OtfWb5dNe1yauA3ZyiGm7gOA4Vo-Xkx8G5rt3UoroKZyGNv_mB6D0rYfE4PfKSI3Rj9iRNHbFumtmAmVuRXDfGrWi08MrquwSJo3nIRr5j828Cu60vBB5Q2xboJWzfGfiL-tLzGDjIv6fA8VGkoEJc2G2DoczVj_v0l3Os0Kl4JHOCtCh0bWypCDCEwPEVlyELRBPqQAHwQ1EJ-iRiAA69snY9VQlA4iYGfMjosCT-5ifgoy-w_KoPcxkLcCwKe5qqmpW-KvcGRijgy79MJIvZtfk4l5E9wOusKQTOHLKtrvcUUaynT8HI_E4AVebN64Wvsd4imBLzB6ck0OE9dkVtwtzOWCxEWuScb_jHQ4IQz0eyKahJa587gfL9G4_dlGs-HqTQVV3NXPioY6c=w708-h943-no?authuser=0" alt="Potrait of myself" width=25%> -->
          <img id="portrait" src="https://i.ibb.co/6R0WF56/portrait.jpg" alt="Potrait of myself" width=25%>

          <h5 id="pref_name">Preferred name: Callum</h5>
          <h5 id="dob">DOB: 01/06/2000</h5>
        </div>

        <div class="education">
            <h4 id="header">Education</h4>
            <div class="school">
              <h5>The Sixth Form College, Colchester</h5>
              <h6>A-levels:</h6>
              <ul><li>Mathematics: <b>A</b></li><li>Computer Science: <b>A</b></li><li>Physics: <b>B</b></li></ul>
            </div>

            <div class="school">
              <h5>The Philip Morant School and College</h5>
              <h6>GCSE's:</h6>
              <ul><li>Mathematics: <b>A*</b></li><li>Computer Science: <b>A</b></li><li>Physics: <b>A</b></li><li>English Lan/Lit: <b>B</b></li><li>...</li></ul>
            </div>
        </div>

        <div class="skills">
          <h4 id="header">Skills</h4>
          <div class="skills1">
            <ul><li>Excellent time management</li><li>Thrive under pressure</li><li>Great teamwork</li></ul>
          </div>
          <div class="skills2">
            <ul><li>Punctual</li><li>Fast learner</li><li>Quick mental math</li></ul>
          </div>
        </div>

        <div class="contact">
          <h4 id="header">Contact details</h4>
          <ul id=><li>1 Gloucester Avenue, Colchester, Essex, CO2 9AX</li><li>+447413121492</li><li>01206 521298</li><li>nailercallum@gmail.com</li></ul>
        </div>
      </div>

      <div class="main">
        <h1 id="name">Christopher Callum Nailer</h1>
        <h4 id="desc"><i>Undergradute student at University of</i></h4>
        <h4 id="desc2"><i>Birmingham studying Computer Science</i></h4>

        <h2 id="blog_link"><a href="/">Back to blog</a></h2>

        <div class="work_experiance">
          <h2 id="header">Work Experiance</h2>
          <div class="job">
            <h4 id="date">March 2020 - Present</h4>
            <h3 id="role"><b>General Assisstant, Poundstretchers</b></h3>
            <p id="role_desc">I got this job during the Covid-19 pandemic as a way to try and help the community in some way during these tough times, rather than being unproductive in my own home. Over the period of the lockdown I worked as many hours as they would give me. On my second week I was chosen as the best of the new employees and was asked to go to a separate store to help as they were low on staff.</p>

          </div>
          <div class="job">
            <h4 id="date">September 2018 - March 2020</h4>
            <h3 id="role"><b>Care Co-ordinator, Provide</b></h3>
            <p id="role_desc">At Provide I was responsible for doing the admin for referrals that we received from GP’s and doctors for patients. When I joined, I had to learn a completely new (to me) and complex piece of software called Systmone. The people who were training me left at the end of my first week, so I made sure that I learnt everything I could from them before they left so that I could do my job well when they did.</p>

          </div>
          <div class="job">
            <h4 id="date">December 2018- April 2019</h4>
            <h3 id="role"><b>Clubhouse Staff, Equity</b></h3>
            <p id="role_desc">I worked in a ski hotel in France where we would take big groups of school children and accommodate them for a week, providing them with food and drink, skis, and entertainment. I was responsible for cleaning rooms to a high standard in a short space of time – sometimes we had only a few hours to complete every room in the hotel. Also, in the evenings I had to serve food to our guests and be able to quickly clean and relay tables ready for later sit-downs.</p>

          </div>
          <div class="job">
            <h4 id="date">April 2017 - November 2018</h4>
            <h3 id="role"><b>Front of House staff, The Green Room Restraunt</b></h3>
            <p id="role_desc">I worked as a waiter for a year and a half during my time at college to save up money so that I could go travelling before Uni. Whilst here I gained confidence whilst serving customers, was able to effectively remember and prioritize all the tasks I was given, and was also given more heavy responsibilities such as being in charge of larger parties. These larger parties ranged from 10-50 people and required my time management to be very good in order to make sure everyone had everything they needed.</p>

          </div>
          <div class="job">

          </div>
        </div>
      </div>

    </body>
</html>
