{% load static %}
<html>
    <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}">

    </head>
    <body>
      <div class="header">
        <h1 id="title">Gallery</h1>
        <h1 id="link"><a href="/">Back to blog</a></h1>
      </div>
      <div class="content">
        <div class="gallery">
          <a target="_blank" href="https://i.ibb.co/wzpFDp7/Novalja.jpg">
            <img src="https://i.ibb.co/wzpFDp7/Novalja.jpg" alt="Novalja, Croatia" width=100%>
          </a>
          <div class="desc">Novalja, Croatia - 12th July 2018</div>
        </div>

        <div class="gallery">
          <a target="_blank" href="https://i.ibb.co/pf9Ggcy/Old-Man-Coniston.jpg">
            <img src="https://i.ibb.co/pf9Ggcy/Old-Man-Coniston.jpg" alt="Old Man Coniston, Lake District" width=100%>
          </a>
          <div class="desc">Old Man Coniston, Lake District, England - 1st August 2017</div>
        </div>

        <div class="gallery">
          <a target="_blank" href="https://i.ibb.co/9YmVx6F/Kuang-Si-Waterfall-Luang-Prabang.jpg">
            <img src="https://i.ibb.co/9YmVx6F/Kuang-Si-Waterfall-Luang-Prabang.jpg" alt="Kuang Si Waterfall" width=100%>
          </a>
          <div class="desc">Kuang Si Waterfall, Luang Prabang Province, Laos - 18th June 2019</div>
        </div>

        <div class="gallery">
          <a target="_blank" href="https://i.ibb.co/3Rk4S5v/Risoul-Valley-sunrise.jpg">
            <img src="https://i.ibb.co/3Rk4S5v/Risoul-Valley-sunrise.jpg" alt="Risoul Valley Sunrise" width=100%>
          </a>
          <div class="desc">Risoul, France - Sunrise, 7th Jan 2019</div>
        </div>

        <div class="gallery">
          <a target="_blank" href="https://i.ibb.co/K7WzzJh/C-ng-Tr-i-Qu-n-B-Ha-Giang.jpg">
            <img src="https://i.ibb.co/K7WzzJh/C-ng-Tr-i-Qu-n-B-Ha-Giang.jpg" alt="Cổng Trời Quản Bạ" width=100%>
          </a>

          <div class="desc">Cổng Trời Quản Bạ, Ha Giang, Vietnam - 26th Jun 2019</div>
        </div>

        <div class="gallery">
          <a target="_blank" href="https://i.ibb.co/rdLyFgP/IMG-20190724-134012.jpg">
            <img src="https://i.ibb.co/rdLyFgP/IMG-20190724-134012.jpg" alt="Angkor Wat" width=100%>
          </a>
          <div class="desc">Angkor Wat, Krong Siem Reap, Cambodia - 24th Jul 2019</div>
        </div>
      </div>
    </body>
</html>
