<html>
    <head>
        <title>Callum's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Callum's Blog</a></h1>
        </div>

        <div>
            <p>created: 26.05.2020, 20:00</p>
            <h2>Aims:</h2>
            <ul><li>Professional looking</li><li>CV will be avaliable through the blog</li><li>To show my work through the first year of my uni</li></ul>
        </div>

        <div>
            <h2><centre>~~~ (In progress) ~~~</centre></h2>
            {% for post in posts %}
              <h2>{{post.title}}</h2>
              <p>{{ post.text|linebreaksbr }}
              <p>published: {{ post.published_date }}</p>
            {% endfor %}
        </div>
    </body>
</html>
