.page-header {
        background-color: #48D1CC;
    /*background-image: url('https://lh3.googleusercontent.com/pNCdN15deftTF8t-Y4ebWtXo3iBVsIXbjJwD9IiIknbwHnGtTDT2iZs7QCmC7Ki5ryTeA-pcnQ_iS7zHoKWlHE98SW0pKhmoHpY3MorjB0QSlmgSlolBazD0aSgxqIB6EGY5PL390RmAZ_OBW02-DrNQeUQVtGhA4hzT3YqJCPrXKkM-Uk1rWKIvKv3mbnoqa-4ahBRVCJEsMLLNv-wZpRYRYHVFWL6d6dq4iM_4fI-EcoluotLA-ojL1W7QAmDjCsuH4llN9HN4SUWwwSgJw-Cbk5wwWV146XCEEG61khFOaKUBzu7GWiR8z4UzeFxLCMIJEQ86vlIccajmpVUqJFuFtTKcX1BFJYu-ydTAEkhgWjRMso1B4Y38d6-QCOTtIauJJpV4za4tYne8cvWlzuclPgpBM4TltBf3HZ2MDgy8o1a4XgLRHB1GOg6RV2pdDD7W0j5MSlnfVDw_77q__98VPDJOz_ajIdVMmcS7az8mNRKKn--Y-t7jOfqyan6xNKHHeb-FBIFqSdsvAuGUJLXMMZLGhbEk_Mc0k6Mjf61P2fZdf58ghzRHNwAYPvhQhFK1I8iEF-6fk_yoMxpPTFm-eRjxG52Rwqg04-7dBx-jfkbyL-35r6l_zCV2TbXDyI6BRXVukJk4UAWjlh0yNifoaz9x-w7ryXRc8So_sMunlSP3TTbnjIdQOIPp=w580-h274-no?authuser=0');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 0;
    padding: 50px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #f0f0f0;
    font-size: 36px;
    text-decoration: none;
}

.content {
    /*margin-left: 40px;*/
    background-image: url('https://i.ibb.co/1JBT5Vd/IMG-20180918-191130.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1, h2, h3, h4, p, a {
    font-family: Helvetica;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

#cv_link {
  float: right;
  margin-top: -50px;
}
