* {
  box-sizing: border-box;
}

.personal_info {
  width: 25%;
  height: 100%;
  float: left;
  background-color: #e6e6e6;
}

.school {
  padding-left: 2%;
  padding-bottom: 2%;
  margin-top: -2%;
}

#pref_name, #dob {
  margin-left: 30%;
}

.skills {
  margin-top: -7%;
}

.skills1 {
  width: 50%;
  float: left;
}

.skills2 {
  width: 50%;
  float: left;
}

.contact {
  position:absolute;
  bottom: 0;
  left: 0;
  margin-left: -1;
}

#header{
  margin-left: 7%;
  color: #89acf3;
}

#portrait {
  margin-left: 36%;
  margin-top: 2%;
}

.main {
  width: 75%;
  height: 100%;
  float: left;
}

.job {
  margin-left: 20px;
  margin-top: 10px;
  margin-right:50px;
  background-color: #f0f0f0;
  text-align: justify;
}

#blog_link {
  float:right;
  margin-top: -9%;
  margin-right: 1%;
}

#name{
  margin-left: 15%;
}

#desc, #desc2 {
  margin-left: 18%;
  margin-top: -0.6%;
  color: #848484;
}
