.header {
    width: 100%;
    background-color:#48D1CC;
    padding: 2%;
}

#title {
    text-align:left;
    padding-left:2%;
    color: #f0f0f0;

}

#link {
    text-align: right;
    padding-left: 76%;
}

h1 {
    display: inline;
}

.content: {
    width: 100%;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 30%;
}

.desc {
    padding: 15px;
    text-align: center;
}
